.root {
  flex: 1;
  padding: 2vw;
  display: grid;
  grid-gap: 2vw;
  grid-template-areas: "header"
                       "board"
                       "difficulty"
                       "details";
  grid-template-rows: 50px 96vw 50px calc(var(--100vh, 100vh) - 106vw - 100px);
  grid-template-columns: 96vw;
  &.isCurrentTurn {
    background-color: #006786;
  }
  @media screen and (min-width: 600px) {
    padding: calc(0.02 * var(--100vh, 100vh));
    grid-gap: calc(0.02 * var(--100vh, 100vh));
    grid-template-areas: "header header"
                         "board difficulty"
                         "board details";
    grid-template-rows: 100px 100px calc((0.92 * var(--100vh, 100vh)) - 200px);
    grid-template-columns: calc((0.94 * var(--100vh, 100vh)) - 100px) max(200px, calc(100vw - calc(var(--100vh, 100vh) - 100px)));
  }
}

.header {
  grid-area: header;
}

.board {
  grid-area: board;
}

.difficultySlider {
  grid-area: difficulty;
}

.details {
  grid-area: details;
}