.root {
    display: flex;
    align-items: center;

    .header {
        flex: 0;
        font-size: 30px;
        cursor: pointer;
        span {
            color: gray;
        }
        &:hover {
            color: blue;
            span {
                color: dodgerblue;
            }
        }
    }

    .options {
        flex: 1;
        display: flex;
    }

    .option {
        margin-left: 10px;
        padding: 20px 10px;
        text-transform: uppercase;
        position: relative;
        border-left: 2px solid transparent;
        cursor: pointer;
        &:hover {
            background-color: white;
            border-left: 2px solid blue;
            div {
                border-radius: 3px;
                border-top-left-radius: 0px;
                box-shadow: 2px 2px 5px -3px black;
                visibility: visible;
                left: -2px;
                border-left: 2px solid blue;
                top: 60px;
            }
        }
    }

    & div {
        visibility: hidden;
    }

    @media screen and (min-width: 600px) {
        
    }
}
