.root {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  font-weight: 600;
  font-size: 8vw;
  cursor: pointer;
  @media screen and (min-width: 600px) {
    font-size: calc(0.08 * var(--100vh, 100vh));
  }
  &.white {
    color:#ff8a8a;
  }
  &.black {
    color: #332b2b;
  }
}
