.root {
    display: flex;
    justify-content: center;
    align-items: center;
    .positionDiff {
        margin-top: -5px;
    }

    .diffNum {

    }

    &.positive {
        color: #629924;
    }

    &.negative {
        color: #c33;
        i {
            margin-top: 0;
        }
    }

    &.static {
        color: gold;
    }

    @media screen and (min-width: 600px) {
        
    }
}
