.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    @media screen and (max-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.text {

}

.bold {
    font-weight: 600;
}
