.root {
  display: grid;
  grid-template-areas: "board"
                       "details";
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  @media screen and (min-width: 600px) {
    grid-template-areas: "board details";
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
  }
}

.board {
  grid-area: board;
}

.details {
  grid-area: details;
}