.root {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
    color: #4d4d4d;
    .nav {
        margin-bottom: 20px;
        display: none;
    }
    @media screen and (min-width: 600px) {
        padding: 0 14px;
        .nav {
            display: flex;
        }
    }
}
