.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: gainsboro;
  @media screen and (min-width: 600px) {
    height: 100%;
    width: 100%;
  }
}

.timeTravelButtons {
  flex: 0 0 30px;
  margin: 10px;
}

.moveList {
  flex: 1;
  overflow: auto;
  margin: 10px;
}

.movePair {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 0 20px;
  font-size: 13px;
}

.move {
  border: 1px solid transparent;
  padding: 0 5px;
  display: flex;
  align-items: center;
  &.isCurrentMove {
    background-color: #daecfb;
    border-radius: 5px;
  }
}

.white {
  grid-column: 1;
}

.black {
  grid-column: 2;
}
