.root {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    
  }
}

.movePair {
  display: flex;
  justify-content: space-around;
}

.move {
  border: 1px solid transparent;
  &.isCurrentMove {
    border: 1px solid black;
  }
}

.white {
  grid-column: 1;
}

.black {
  grid-column: 2;
}
