.root {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  @media screen and (min-width: 600px) {
    
  }
}

.resign {
  background-color: #920000;
  padding: 3px 8px;
  border-radius: 4px;
  color: white;
  margin-left: auto;
}

.commit {
  background-color: #00927e;
  padding: 3px 8px;
  border-radius: 4px;
  color: white;
  margin-left: auto;
}

.draw {
  background-color: #e29b30;
  padding: 3px 8px;
  border-radius: 4px;
  color: white;
  margin-left: auto;
}

.peek {
  background-color: #920000;
  padding: 3px 8px;
  border-radius: 4px;
  color: white;
  margin-left: auto;
}

.cancel {
  background-color: #920000;
  padding: 3px 8px;
  border-radius: 4px;
  color: white;
  margin-left: auto;
}