.root {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  height: 30px;
  @media screen and (min-width: 600px) {
    
  }
}
.actionHeader {

}

.confirm {
  color: limegreen;
}

.cancel {
  color: #9e3737;
}

.commit {
  color: white;
  background-color: midnightblue;
  padding: 3px 10px;
  border-radius: 4px;
}

.peek {
  color: white;
  background-color: midnightblue;
  padding: 3px 10px;
  border-radius: 4px;
}

.resign {
  color: #9e3737;
}

.draw {
  color: #9e3737;
}
