.root {

    .playerIcon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playerId {

    }

    .tournamentId {

    }

    .icon {
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50%;
    }
    @media screen and (min-width: 600px) {
        
    }
}
