.root {
  font-size: 5vw;
  padding: 7px;
  @media screen and (min-width: 600px) {
    font-size: calc(0.035 * var(--100vh, 100vh));
  }
}

.piece {
  margin: 3px;
}

.white {
  color:#ff8a8a;
}
.black {
  color: #332b2b;
}
