.root {
    display: grid;
    grid-gap: 2vmin;
    flex: 1;
    
    grid-template-areas: "actions"
                         "room"
                         "top-game";
    grid-template-rows: max-content calc(100vw - 8vmin) max-content;
    grid-template-columns: 1fr;
    overflow: auto;

    .streamers {
        grid-area: streamers;
    }

    .events {
        grid-area: events;
    }

    .feed {
        grid-area: feed;
    }

    .topGame {
        grid-area: top-game;
    }

    .footer {
        grid-area: footer;
    }

    .room {
        grid-area: room;
    }

    .leaderboard {
        grid-area: leaderboard;
    }

    .tournamentWinners {
        grid-area: tournament-winners;
    }

    .updates {
        grid-area: updates;
    }

    .tournaments {
        grid-area: tournaments;
    }

    .exhibitions {
        grid-area: exhibitions;
    }

    .forumPosts {
        grid-area: forum-posts;
    }

    .actions {
        grid-area: actions;
    }

    .puzzle {
        grid-area: puzzle;
    }

    .donate {
        grid-area: donate;
    }
    @media screen and (min-width: 600px) {
        grid-template-areas: "feed room room actions"
                             "top-game leaderboard tournament-winners puzzle"
                             "footer updates updates donate"
                             ". tournaments tournaments ."
                             ". exhibitions exhibitions ."
                             ". forum-posts forum-posts .";
        grid-template-rows: min(50vw, 686px) repeat(5, fit-content(0));
        grid-template-columns: repeat(4, 1fr);
        .streamers {
            
        }
    
        .events {
            
        }
    
        .feed {
            
        }
    
        .topGame {
            height: calc(min(330px, 23vmin) + 40px);
        }
    
        .footer {
            
        }
    
        .room {
            
        }
    
        .leaderboard {
            
        }
    
        .tournamentWinners {
            
        }
    
        .updates {
            
        }
    
        .tournaments {
            
        }
    
        .exhibitions {
            
        }
    
        .forumPosts {
            
        }
    
        .actions {
            
        }
    
        .puzzle {
            height: calc(min(330px, 23vmin) + 40px);
        }
    
        .donate {
            
        }
    }
    @media screen and (max-width: 600px) {
        padding: 4vmin;
        .streamers {
            display: none;
        }
    
        .events {
            display: none;
        }
    
        .feed {
            display: none;
        }
    
        .topGame {

        }
    
        .footer {
            display: none;
        }
    
        .room {

        }
    
        .leaderboard {
            display: none;
        }
    
        .tournamentWinners {
            display: none;
        }
    
        .updates {
            display: none;
        }
    
        .tournaments {
            display: none;
        }
    
        .exhibitions {
            display: none;
        }
    
        .forumPosts {
            display: none;
        }
    
        .actions {

        }
    
        .puzzle {
            display: none;
        }
    
        .donate {
            display: none;
        }
    }
}
