.root {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-around;
  padding: 10px;
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 600px) {
    
  }
}

.vs {
  text-align: center;
}

.whitePlayer {

}

.blackPlayer {

}
