.root {
  display: grid;
  grid-gap: 2vw;
  grid-template-areas: "player-details move-history"
                       "game-actions move-history"
                       "captured-pieces move-history";
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: 1fr 1fr;
  @media screen and (min-width: 600px) {
    grid-gap: 2vh;
  }
}

.playerDetails {
  grid-area: player-details;
}

.gameActions {
  grid-area: game-actions;
}

.moveHistory {
  grid-area: move-history;
}
