.root {
  display: grid;
  grid-gap: 2vw;
  grid-template-areas: "player-details move-history"
                       "game-actions move-history"
                       "captured-pieces move-history";
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: 1fr 1fr;
  & > * {
    background-color: gainsboro;
  }
  @media screen and (min-width: 600px) {
    grid-gap: calc(0.02 * var(--100vh, 100vh));
    grid-template-areas: "player-details game-actions"
                       "move-history move-history"
                       "captured-pieces captured-pieces";
    grid-template-rows: max-content 1fr 200px;
    grid-template-columns: 1fr 1fr;
  }
}

.playerDetails {
  grid-area: player-details;
}

.gameActions {
  grid-area: game-actions;
}

.moveHistory {
  grid-area: move-history;
}

.capturedPieces {
  grid-area: captured-pieces;
}
