.root {
  display: grid;
  grid-template-areas: "player-details time-travel-buttons"
                       "game-actions move-history"
                       "captured-pieces move-history";
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 5px;
  @media screen and (min-width: 600px) {
    
  }
}

.playerDetails {
  grid-area: player-details;
}

.gameActions {
  grid-area: game-actions;
}

.capturedPieces {
  grid-area: captured-pieces;
}

.moveHistory {
  grid-area: move-history;
}

.timeTravelButtons {
  grid-area: time-travel-buttons;
}
