.root {
  flex: 0 0 12vw;
  box-sizing: border-box;
  position: relative;
  touch-action: none;
  @media screen and (min-width: 600px) {
    flex: 0 0 calc(0.125 * (0.94 * var(--100vh, 100vh) - 100px));
  }
}

.validBlackSquare, .validWhiteSquare  {
  &.isMovingOver {
    background-color: #920032;
  }
  &:after {
    content: "";
    background-color: #000000;
    position: absolute;
    height: 30%;
    width: 30%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
  }
}

.wasLastMove {
  border: 4px solid #13008a;
}

.blackSquare {
  background-color: rgb(125, 135, 150);
}

.whiteSquare {
  background-color: rgb(232, 235, 239);
}

.movingFrom {
  background-color: #006692;
}
