.root {
  flex: 1;
  padding: 2vw;
  display: grid;
  grid-gap: 2vw;
  grid-template-areas: "board"
                       "details";
  grid-template-rows: 96vw calc(var(--100vh, 100vh) - 102vw);
  grid-template-columns: 96vw;
  &.isCurrentTurn {
    background-color: #006786;
  }
  @media screen and (min-width: 600px) {
    margin: calc(0.02 * var(--100vh, 100vh));
    grid-gap: calc(0.02 * var(--100vh, 100vh));
    grid-template-areas: "board details";
    grid-template-rows: calc(0.96 * var(--100vh, 100vh));
    grid-template-columns: calc(0.96 * var(--100vh, 100vh)) calc(100vw - calc(1.02 * var(--100vh, 100vh)));
  }
}

.board {
  grid-area: board;
}

.details {
  grid-area: details;
}
